Authomatic==1.0.0
beautifulsoup4==4.9.3
bs4==0.0.1
Flask==2.0.1
Flask-Cors==3.0.10
Jinja2==3.0.1
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.4
PyGithub==1.55
urllib3==1.26.4
waitress==2.0.0
webruntime==0.5.8
Werkzeug==2.0.1
